/* Variáveis de tema */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
    --button-hover-background-color: #0056b3;
    --border-color: #dddddd;
    --form-background-color: #f9f9f9;
    --navbar-background-color: #007bff;
    --navbar-text-color: #ffffff;
}

body.dark {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-background-color: #1a73e8;
    --button-text-color: #ffffff;
    --button-hover-background-color: #0056b3;
    --border-color: #333333;
    --form-background-color: #1e1e1e;
    --navbar-background-color: #1a73e8;
    --navbar-text-color: #ffffff;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: var(--button-hover-background-color);
}

.container {
    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.alert {
    margin-top: 20px;
}

#themeToggle {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: background-color 0.3s;
}

#themeToggle:hover {
    background-color: var(--button-hover-background-color);
}
